
body {
    font-family: 'Courier New', Courier, monospace;
    
}

#container {
    text-align: center;
    font-size: 25px;
}

.header {
    text-align: center;
}

#intro {
    font-weight: bold;
    text-align: center;
}

#scores { 
    font-weight: bold;
    font-size: 25px;
    text-decoration: none;
}

#timer {
    color: lightslategrey;
    margin: auto;
    font-weight: bold;
    font-size: 25px;
}

#choice_button_0, .choice_button_1, .choice_button_2  {
    background-color: lightslategray;
    font-size: 20px;
    color: white;
    border-radius: 10px;
    margin: 5px;
    top: 50%;
    left: 50%;
    
    
}


#start {
    background-color: lightslategray;
    color: white;
    border-radius: 10px;
    width: 100px;
    height: 50px;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 300px;
 }

 
 